$ForegroundColour : #d3d0c8;
$BackgroundColour: #2d2d2d;
$CursorColour: #fd9d4f;
$Black: #2d2d2d;
$BoldBlack: #747369;
$Red: #f2777a;
$BoldRed: #ec3235;
$Green: #99cc99;
$BoldGreen: #66b166;
$Yellow: #ffcc66;
$BoldYellow: #ffb118;
$Blue: #6699cc;
$BoldBlue: #3972ad;
$Magenta: #cc99cc;
$BoldMagenta: #b166b1;
$Cyan: #66cccc;
$BoldCyan: #39adad;
$White: #d3d0c8;
$TextBack: #e3e0d8;
$BoldWhite: #f2f0ec;