#main {
  width: 940px; }

#sidebar-primary {
  display: none; }

#content {
  width: 800px;
  padding: 60px;
  margin-right: auto;
  border: 1px #DDD solid; }
  #content h1, #content h2, #content h3, #content h4, #content h5, #content h6, #content p, #content a, #content div, #content span, #content body, #content li {
    font-family: 'segoe ui', 'Helvetica Neue', 'Helvetica', sans-serif; }
  #content p, #content li {
    font-size: 1rem;
    line-height: 1.6rem; }
  #content strong {
    font-weight: 500; }
  #content h1 {
    font-size: 3.998rem;
    line-height: 5.653rem; }
  #content h2 {
    font-size: 2.827rem;
    line-height: 3.9973rem; }
  #content h3 {
    font-size: 1.999rem;
    line-height: 2.826rem; }
  #content h4 {
    font-size: 1.414rem;
    line-height: 1.999rem; }
  #content .code code {
    font-family: consolas, sans-serif;
    font-size: 1rem !important;
    line-height: 1.414rem !important; }
