html, body {
  background: #e3e0d8; }

h1, h1.firstHeading, h2, h3 {
  font-family: "segoe ui", sans-serif;
  font-weight: 300; }

div#right-navigation {
  position: relative;
  margin-top: 10px; }

#p-search div {
  background: white; }

#p-search input, #p-search div#simpleSearch {
  height: 2rem; }

#mw-head {
  z-index: 0;
  background: white; }
  #mw-head .vectorTabs {
    display: none; }

#p-personal, #left-navigation, #mw-panel {
  display: none; }

#main {
  width: 940px; }

#sidebar-primary {
  display: none; }

#content {
  position: relative; }
  #content a {
    color: #3972ad; }
  #content a:visited {
    color: #b166b1; }
  #content b, #content caption, #content strong, #content th {
    font-weight: 500; }
  #content h1, #content h2, #content h3, #content h4, #content h5, #content h6, #content p, #content a, #content div, #content span, #content body, #content li {
    font-family: 'segoe ui', 'Helvetica Neue', 'Helvetica', sans-serif; }
  #content p, #content li {
    font-size: 1rem;
    line-height: 1.6rem; }
  #content h1 {
    font-size: 3.998rem;
    line-height: 5.653rem;
    font-weight: 300;
    margin-bottom: 1.6rem; }
  #content h2 {
    font-size: 2.827rem;
    line-height: 3.9973rem;
    font-weight: 300; }
  #content h3 {
    font-size: 1.999rem;
    line-height: 2.826rem;
    font-weight: 300; }
  #content h4 {
    font-size: 1.414rem;
    line-height: 1.999rem;
    font-weight: 300; }
  #content .code code {
    font-family: consolas, sans-serif;
    font-size: 1rem !important;
    line-height: 1.414rem !important; }
