<div class="row">
  <div class="col-sm-6">
    <div class="card-group">
      <div class="card">
        <div class="card-header">
          Our Mission
        </div>
        <div class="card-block">
          <p>So we can hit the ground running, we will be globally strategizing every vertical in our space. Key players
          will
          take ownership of their enterprises by effectively relaying senior industry leaders. Our business
          revolutionizes
          user experiences to iteratively and dynamically monetize our customer-focused innovation. We use our
          innovative
             brands to ethically manage our agile workflow expectations.</p>
          <p>
            You need to conservatively calibrate your best practices to increase your architecture velocity. Change the
            way you do business - adopt world-class market foci. Virtually touching base about facilitating action
            points will make us leaders in the unparalleled ballpark figure industry. Going forward, our competitive
            milestone will deliver value to bandwidths.
          </p>
          <p>
            {{dynamicText}}
          </p>
          <p>
            {{observableText | async}}

          </p>
        </div>
      </div>
    </div>
  </div>

</div>